server {
        listen       80;
        server_name  localhost;

        location /api/ {
            proxy_pass  ${API_URL};
            client_max_body_size 1000m;
            client_body_buffer_size 500m;
        }

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }
}